body {
    background: url(images/PUPBackground.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.display {
    margin-left: 150px;
    text-align: center;
    margin-top: 120px;
}

.display img {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.display h1 {
    font-size: 40px;
    color: white;
    margin-top: 30px;
}


@keyframes scaleFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.wrapper {
    width: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 12px;
    padding: 30px 50px ;
    opacity: 0;
    transform: scale(0.9);
    animation: scaleFadeIn 0.8s ease forwards;
    margin-left: 120px;
    margin-top: 170px;
}

.wrapper .form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.wrapper .form-column{
    position: relative;
    width: 100%;
    height: 8px;
    margin: 10px 0;
    margin-right: 90px;

}

.wrapper label{
    font-size: 19px;
    margin-left: 18px;
    font-size: bold;
}


.form-column input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 249, 249, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.form-column select {
    width: 130%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid rgba(255, 249, 249, 0.2);
    font-size: 16px;
    color: white;
    padding: 10px;
}


.form-column select option{
    background-color: #333;
    color: white;
}



.form-column input::placeholder{
    color: white;
}


.form-column i{
    position: absolute;
    right: -50px;
    top: 450%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.signup button {
    background-color: #A32100;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.signup button:hover {
    background-color: #A32100;
    transform: scale(1.05);
}


.signup button:focus {
    outline: none;
    box-shadow: 0 0 5px #A32100;
}



.signup button:active {
    transform: scale(0.98);
}

.log-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.log-link a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.log-link a:active {
    color: #ffffff;
}

